@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Aluna:</strong>   <a href="fran.almeida1990@gmail.com">fran.almeida1990@gmail.com</a><br />
</address>