<div class="jumbotron">
    <h2>Olá! Bem vindo ao sistema de recomendação de playlists! 
</div>

<div class="row">
    <div class="col-md-4">
        <p> 
            Por favor, clique neste botão e aguarde cerca de 10 minutos. 
            <a href=@ViewBag.AuthUri class="btn btn-primary btn-lg">Gerar novas playlists!</a>
        </p>
    </div>
</div>