<div class="jumbotron">
    <h2>Olá! Bem vindo ao sistema de recomendação de playlists! Por favor clique no botão abaixo e permita-me capturar algumas das músicas escutadas no seu Spotify e após isto, preencha seu e-mail para que eu possa enviar as playlists e você diga o que achou delas! ;) </h2>
</div>

<div class="row">
    <div class="col-md-4">
        <p>  
            <a href=@ViewBag.AuthUri class="btn btn-primary btn-lg">Gerar novas playlists!</a>
        </p>
    </div>
</div>