@model IEnumerable<RecomendaPlays.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>Ok! Deu tudo certo! Aguarde um tempo e você receberá por e-mail sua playlist e depois você irá avaliá-la!</h2>
