<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3edd9bdd-6719-4769-81f7-68ef0b46c9fb/resourceGroups/FichaTecnicaBahia20180617073958ResourceGroup/providers/Microsoft.Web/sites/RecomendaPlays</ResourceId>
    <ResourceGroup>FichaTecnicaBahia20180617073958ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://recomendaplays.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>recomendaplays.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RecomendaPlays</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RecomendaPlays</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RecomendaPlaysContext" Order="1" Enabled="False">
          <Destination Path="Data Source=fichatecnicabahiadbserver.database.windows.net;Initial Catalog=recomendaplay;Persist Security Info=True;User ID=adailton;Password=d@n163470163094" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RecomendaPlays.Models.RecomendaPlaysContext, RecomendaPlays" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="RecomendaPlaysContext-Web.config Connection String">
      <ParameterValue>Data Source=fichatecnicabahiadbserver.database.windows.net;Initial Catalog=recomendaplay;Persist Security Info=True;User ID=adailton;Password=d@n163470163094</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>